@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

@layer utilities {
  .pt-safe-top {
    padding-top: env(safe-area-inset-top);
  }
  .pb-safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
